{% extends 'base.html' %}
{% block content %}
{% for contato in contatos %}
<div class="col-lg-4 mb-4">
    <div class="card h-100">
        <h4 class="card-header">{{ contato.nome_contato }}</h4>
        <div class="card-body">
            <p class="card-text">
                <p>Telefone Principal: {{ contato.telefone1 }}</p>
                <p>Telefone Secundario: {{ contato.telefone2 }}</p>
                <p>Email: {{ contato.email }}</p>
            </p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Learn More</a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}